body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
  }
  
  .login-container {
    display: flex;
    height: 100vh;
  }
  
  .side-image {
    flex: 1;
    padding-left: 2%;
    background: url('https://img.freepik.com/free-vector/usability-testing-concept-illustration_114360-1571.jpg?w=740&t=st=1706025431~exp=1706026031~hmac=fef64ca9aa6fe897c012637899fa0945e9a70a47abaa93896ac1f1dcb61da2f6');
    background-size: cover;
    height: 100%;
  }
  
  .login-form {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    font-size:20px;
    font-family: 'Times New Roman', Times, serif;
    color: #000000; /* Dark grayish blue */
  }
  
  h2 {
    margin-bottom: 20px;
    color: #db3434; /* Blue */
  }
  
  form {
    width: 100%;
    max-width: 400px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    color: #333; /* Dark gray */
  }
  
  input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #ecf0f1; /* Light gray */
    border: 1px solid #bdc3c7; /* Lighter gray */
    border-radius: 5px;
    color: #333; /* Dark gray */
  }
  
  button {
    width: 100%;
    padding: 15px;
    background-color: #f85c5c;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #f20d0d;
  }
  
  .social-login {
    margin-top: 20px;
  }
  
  .social-icons {
    display: flex;
    align-items: center;
  }
  
  .social-icons button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 20px;
  }
  .error-message {
    color: #ffc107; /* Yellow color */
    font-size: 14px;
    margin-top: 5px;
  }
  .social-icons img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
  
  .social-icons img:hover {
    transform: scale(1.2);
  }
  